body {
    background: #d9d7d7;
    background-size: cover; /* Ensure the gradient covers the entire viewport */
    color: black;
    transition: background 0.5s ease, color 0.5s ease;
}

header {
    background: linear-gradient(to right, #00cc00, #006600);
    color: #fff;
    padding: 10px;
}

main,
footer {
    color: black;
}

button {
    color: black;
}
