body {
    background: linear-gradient(to bottom, #fff, #888);
    color: black;
    transition: background 0.5s ease, color 0.5s ease;
}

header {
    background: linear-gradient(to bottom, #00cc00, #006600); /* Gradient between green and dark green */
    color: #fff;
    padding: 10px;
}

main,
footer {
    color: black;
}

button {
    color: black;
}
