body {
    background: #d9d7d7;
    color: black;
    transition: background 0.5s ease, color 0.5s ease;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row-reverse;
    background: url(https://github.com/the8bitbyte/the8bitbyte.github.io/blob/main/BackGround.jpg?raw=true) no-repeat center fixed;
    background-size: cover;
    
}

.side-panel {
    background: #333;
    color: #fff;
    padding: 20px;
    width: 120px;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set the body height to 100% of the viewport height */
    align-items: center; /* Center items vertically */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.side-panel button {
    color: #333;
    background-color: #4287f5; /* Green */
    border: none;
    color: white;
    padding: 10px 20px; /* Adjusted padding for a smaller button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Adjusted font size */
    border-radius: 10px; /* Added border-radius for rounded corners */
    margin-bottom: 15px; /* Increase the spacing between buttons */
    cursor: pointer;
}


.side-panel button:hover {
    text-decoration: underline;
    transform: scale(1.05); /* Scale up by 5% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Add a subtle box shadow */
}
.content {
    flex: 1;
}

header {
    background: linear-gradient(to right, #4287f5, #0240a3);
    color: white; /* Set the text color to white */
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; /* Add text shadow */
    padding: 10px;
}

main,
footer {
    color: black;
}

button {
    color: black;
}
