* {
    cursor: url('https://github.com/the8bitbyte/the8bitbyte.github.io/blob/main/image.png?raw=true') 10 15, auto;
}

::selection {
    background-color: white; /* Customize with your desired color */
    color: black; /* Customize text color */
}

body {
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    background-color: black;
    color: white;
    
}
.desc {
    padding-top: 40px;
    width: 80%;
}
button {
    font-family: "Times New Roman", Times, serif;
}
#username {
    color: white;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.sep {
    display: flex;
    align-items: center;   /* Vertically center the content */
    justify-content: center;
}

.vider {
    width: 100%;
    height: 1px;
    background-color: #ededed; /* Optional: add a background color for visibility */
}

.hob_cont {
    display: flex;
    gap: 34px;
}

.hob {
    margin-top: 10px;
    background-color: black;
    color: white;
}
.hob:hover {
    background-color: #424242;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 70%;
    max-width: 600px;
    margin-top: 20px;
}

.grid-btn {
    width: 150px;
    background-color: #111111;
    color: white;
    padding: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.grid-btn:hover {
    background-color: #666;
}

.grid-btn:active {
    background-color: #888;
}
